*{
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  margin: 0;              /* reset css */
  background-color: rgb(14, 14, 14);
  font-size: 15px;
}
h1{
  padding: 0;             /* reset css */
  margin-top: 0;          /* reset css */
  margin-bottom: 0;       /* reset css */
}
a{
  text-decoration: none;  /* reset css */
}